<jsv-header>
    <button-header-left></button-header-left>
    Home
    <button-header-right></button-header-right>
</jsv-header>


<jsv-content>

	<div class="container">
	
		<!-- <h1 class="paddingFull10">Content View A</h1> -->
		<h3 style="color:blue">Antivirus</h3>
		<h5>Android App</h5>

		<p id="audio_position" class="audio_position"></p>

			<button class="bgYellow btn-centrat" onClick="$JSView.goToView('scanner')">Scanner</button>
		
		<!--
			<button class="bgYellow btn-centrat" onClick="$JSView.goToView('viewC')">Pàgina C/3</button>
		-->	
		
		<!--	
			<button class="bgYellow btn-centrat" onClick="$JSView.openModal('modalA')">Modal A</button>
		-->	
		
		<!--	
			<div style="display: block;margin-left: auto;margin-right: auto;" class="btn-centrat">
				<a class="waves-effect waves-light btn-large"><i class="material-icons left">alarm</i>Materializecss</a>
			<div>
		-->	
			
	</div>
			
</jsv-content>
