<jsv-header>
    <button-header-left onclick="$JSView.goToView('home')">< Home</button-header-left>
    Scanner
    <button-header-right></button-header-right>
</jsv-header>


<jsv-content>

	<div class="container">
    
		<h1 class="paddingFull10">SCANNER</h1>
		
		<img src="img/logo.png" alt="scanner_photo" width="300" height="300">
		
		<!--
		
			Alternatives -> codificar imatge Base64 com a text
			
			Com es genera el codi ?
			
			https://www.base64-image.de/
			
			o millor aquest :
			
			http://www.greywyvern.com/code/php/binary2base64
		
		
		
		-->
		
		<p>
		All clean now !!!	
		</p>
		
		
		
		<!--<button class="bgYellow btn-centrat" onClick="$JSView.goToView('test')">test</button>-->

	</div>
	
</jsv-content>
